.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
}
.store-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px 10px;
    padding: 5px;
}
.cart-container{
    position: fixed;
    right: 10px;
    padding: 2px;
    background-color: rgba(10, 130, 243, 0.267);
    border-radius: 20px;
}
.accrodion{
    position: relative;
    bottom: -1400px;
    margin-bottom: 100px;
}

@media screen and (max-width:560px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   .store-container{
       display: grid;
       grid-template-columns: 1fr;
   }
  
}
